In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use(ggplot)

In [27]:
web_stats = {"Day": [1,2,3,4,5,6],
            "Visitors":[34,55,45,32,44,56],
            "Bounce_Rate": [65,56,78,77,56,67]}
df = pd.DataFrame(web_stats)
print(df)
print(df.tail())
print(df.head())

   Bounce_Rate  Day  Visitors
0           65    1        34
1           56    2        55
2           78    3        45
3           77    4        32
4           56    5        44
5           67    6        56
   Bounce_Rate  Day  Visitors
1           56    2        55
2           78    3        45
3           77    4        32
4           56    5        44
5           67    6        56
   Bounce_Rate  Day  Visitors
0           65    1        34
1           56    2        55
2           78    3        45
3           77    4        32
4           56    5        44

## New cell 
* a
* b

In [13]:
#df2 = df.set_index('Day')

In [24]:
#df.set_index('Day', inplace = True)

In [28]:
df['Visitors']

0    34
1    55
2    45
3    32
4    44
5    56
Name: Visitors, dtype: int64

In [29]:
df.Visitors

0    34
1    55
2    45
3    32
4    44
5    56
Name: Visitors, dtype: int64

In [30]:
df[['Day','Visitors']]

   Day  Visitors
0    1        34
1    2        55
2    3        45
3    4        32
4    5        44
5    6        56

In [34]:
df['Visitors'].tolist()

[34, 55, 45, 32, 44, 56]

In [36]:
print(np.array(df[['Day','Visitors']]))

[[ 1 34]
 [ 2 55]
 [ 3 45]
 [ 4 32]
 [ 5 44]
 [ 6 56]]

In [38]:
df3 = pd.DataFrame(np.array(df[['Day','Visitors']]))
df3

   0   1
0  1  34
1  2  55
2  3  45
3  4  32
4  5  44
5  6  56

In [47]:
df4 = pd.read_csv('houseprices.csv', index_col = 7)
df4.head()

,OrganisationLabel,OrganisationURI,PublishedDate,LatestData,DurationFrom,DurationTo,ReportingPeriodType,GeoEntityName,GeoCode,GeoName,GeoURI,AveragePrice,AveragePriceDetached,AveragePriceSemiDetached,AveragePriceTerraced,AveragePriceFlatOrMaisonette
Month,,,,,,,,,,,,,,,,
2018-06,Lincolnshire,http://opendatacommunities.org/id/county-counc...,2018-08-22T00:00:00,True,2018-06-01T00:00:00,2018-06-30T23:59:59,Month,District Council,E07000136,Boston,http://statistics.data.gov.uk/doc/statistical-...,153458,210267,131631,105835,82069
2018-06,Lincolnshire,http://opendatacommunities.org/id/county-counc...,2018-08-22T00:00:00,True,2018-06-01T00:00:00,2018-06-30T23:59:59,Month,District Council,E07000137,East Lindsey,http://statistics.data.gov.uk/doc/statistical-...,169255,208535,144062,114716,86208
2018-06,Lincolnshire,http://opendatacommunities.org/id/county-counc...,2018-08-22T00:00:00,True,2018-06-01T00:00:00,2018-06-30T23:59:59,Month,District Council,E07000138,Lincoln,http://statistics.data.gov.uk/doc/statistical-...,147578,235597,159052,122782,100896
2018-06,Lincolnshire,http://opendatacommunities.org/id/county-counc...,2018-08-22T00:00:00,True,2018-06-01T00:00:00,2018-06-30T23:59:59,Month,District Council,E07000139,North Kesteven,http://statistics.data.gov.uk/doc/statistical-...,205763,249046,169806,141247,101705
2018-06,Lincolnshire,http://opendatacommunities.org/id/county-counc...,2018-08-22T00:00:00,True,2018-06-01T00:00:00,2018-06-30T23:59:59,Month,District Council,E07000140,South Holland,http://statistics.data.gov.uk/doc/statistical-...,185205,228877,157058,128691,86009

In [50]:
df5 = df4[['GeoCode', 'AveragePrice']]

In [51]:
df5.head()

           GeoCode  AveragePrice
Month
2018-06  E07000136        153458
2018-06  E07000137        169255
2018-06  E07000138        147578
2018-06  E07000139        205763
2018-06  E07000140        185205

In [55]:
df5.columns = ['Code', 'Price']
df5.head()

              Code   Price
Month
2018-06  E07000136  153458
2018-06  E07000137  169255
2018-06  E07000138  147578
2018-06  E07000139  205763
2018-06  E07000140  185205

In [57]:
df5.to_csv('house_price.csv', header = False)

In [58]:
df6 = pd.read_csv('house_price.csv', names = ['Code', 'Price'])
df6.head()

              Code   Price
2018-06  E07000136  153458
2018-06  E07000137  169255
2018-06  E07000138  147578
2018-06  E07000139  205763
2018-06  E07000140  185205

In [60]:
df6.rename(columns={'Price':'Value'}, inplace = True)
df6.head()

              Code   Value
2018-06  E07000136  153458
2018-06  E07000137  169255
2018-06  E07000138  147578
2018-06  E07000139  205763
2018-06  E07000140  185205

In [66]:
SL = pd.read_excel('sl_yeast.xlsx')

In [68]:
SL.head()

  GeneASymbol  GeneAid GeneBSymbol  GeneBid  PubmedID Evidence Type Score
0        BNI1   855450        SWE1   853252  12686605      NaN  NaN   NaN
1        BUD6   851029        SWE1   853252  12686605  BioGrid   SL   0.8
2        BEM1   852499       CDC42   850930  12960420      NaN  NaN   NaN
3        BEM4   855942       CDC42   850930  12960420      NaN  NaN   NaN
4        BNI1   855450       CDC42   850930  12960420      NaN  NaN   NaN

In [70]:
sl_pairs = SL[['GeneASymbol','GeneBSymbol']]
sl_pairs.head()
sl_pairs.to_csv('yeast_sl.csv')